<html>
<head>

    <link href="static/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1> What does the dog say? </h1>
    <h3> A webapp that lets you get inside your dog's head </h3>

    <img id="logo" src="static/img/Logo 1.svg" class="center"> </img>
       <div class="d-grid gap-2 col-2 mx-auto" style="text-align:center">
        <button class="btn" onclick="window.location.href='record.html'"><i class="fa fa-play"></i> Record</button>


        <label for="audio_file" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Upload
        </label>

        <form action="store" enctype="multipart/form-data" method="POST" className="wrapped__form" id="uploadaudioform">
         <input type = "file" id="audio_file" name = "user_af" accept = ".wav,.mp3" />
      </form>


         <script>
            document.getElementById("audio_file").onchange = function() {
                 document.getElementById("uploadaudioform").submit();
             }
 </script>
</div>
    <button class="google" id= "google"><img src="static/img/Google.svg"></img> Enabled</button>
    <a href="https://drive.google.com/uc?export=download&id=1g7rgAc0VXptaWIQLlE7NofUrt09dAcSb">
         <button class="download"><i class="fa fa-download"></i> Download Sample Data</button>
         </a>
</body>
</html>
