<html>
<head>
    <link href="static/processing.css" rel="stylesheet" />
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1> What does the dog say? </h1>
    <h3> A webapp that lets you get inside your dog’s head </h3>
    <img id="logo" src ="static/img/Logo 2.svg" class="center"> </img>
    <div class = "text">
    <h2> Connecting the woofs... </h2>
    <h4 class="blue"> This may take a few moments </h4>
    </div>

     <form action="process" enctype="multipart/form-data" method="POST" className="wrapped__form" id="uploadaudioform" hidden>
         <input type = "file" id="audio_file" name = "user_af" accept = ".wav,.mp3" />
      </form>

    <script>

        document.addEventListener("DOMContentLoaded", function(event) {
            document.createElement('form').submit.call(document.getElementById('yourform'));
            });

        var $form = $('#uploadaudioform');
        var file = "{{value}}"
        $form.find('input[name="user_af"]').val(file);


    $(document).ready(function(){
 document.getElementById("uploadaudioform").submit();
});






 </script>

    <button class="google"><img src = "static/img/Google.svg"></img> Enabled</button>
    <button class="up" onclick="window.location.href='home.html'"><i class= "fa fa-refresh"></i>  Start Over</button>
</body>
</html>

