.header__text{
     font-family: 'Ubuntu', sans-serif;
    padding-top:10px;
    font-size:78px;
    font-weight: bold;
    color: #8F754F;
  }

.header__subtext{
     font-family: 'Ubuntu', sans-serif;
    padding-top:10px;
    font-size:30px;
    font-weight: bold;
    color: #8F754F;
    opacity: 0.8;
    margin-top: -70px;
}

.header{
  text-align: center;
  display: block;
}

.logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
}


.record__button{
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #385F71;
    width: 150px;
}

.button__text{
     font-family: 'Ubuntu', sans-serif;
    padding-top:10px;
    font-size:22px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
  }
